In [22]:
# code to merge 6 databases of test results into one database
import sqlite3
import pandas as pd

conn1 = sqlite3.connect('dim1_1001000_db_2018-01-24.sqlite')
conn2 = sqlite3.connect('dim1_400700_db_2018-01-24.sqlite')
conn3 = sqlite3.connect('dim2_1001000_db_2018-01-25.sqlite')
conn4 = sqlite3.connect('dim2_400700_db_2018-01-25.sqlite')
conn5 = sqlite3.connect('dim4_1001000_db_2018-01-26.sqlite')
conn6 = sqlite3.connect('dim4_400700_db_2018-01-25.sqlite')

In [23]:
df1 = pd.read_sql_query("SELECT * FROM 'data'",conn1)
df2 = pd.read_sql_query("SELECT * FROM 'data'",conn2)
df3 = pd.read_sql_query("SELECT * FROM 'data'",conn3)
df4 = pd.read_sql_query("SELECT * FROM 'data'",conn4)
df5 = pd.read_sql_query("SELECT * FROM 'data'",conn5)
df6 = pd.read_sql_query("SELECT * FROM 'data'",conn6)

In [24]:
conn1.close()
conn2.close()
conn3.close()
conn4.close()
conn5.close()
conn6.close()

In [25]:
df_merge = df1.append([df2,df3,df4,df5,df6])
# df_merge = df1.append([df2])

In [26]:
df_merge.shape

(4950, 13)

In [27]:
df1.shape

(750, 13)

In [28]:
df2.shape

(900, 13)

In [29]:
df3.shape

(750, 13)

In [30]:
df4.shape

(900, 13)

In [31]:
df5.shape

(750, 13)

In [32]:
df6.shape

(900, 13)

In [33]:
new_db_conn = sqlite3.connect('sepkmeans_db2.sqlite')

In [34]:
df_merge.to_sql('data',new_db_conn,index=False)

In [35]:
new_db_conn.commit()

In [36]:
new_db_conn.close()